<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<connectionStrings>

		<!--FOR HOME-->
		<!--<add
			name="constr-PAVILION-NB"
			connectionString="Data Source=PAVILION-NB; initial catalog=LEAVE_MANAGEMENT; integrated security=true"
			providerName="System.Data.SqlClient"
			/>-->
		<!--FOR OFFICE-->
		<!--<add
			name="constr-PROBOOK"
			connectionString="Data Source=PROBOOK; initial catalog=LEAVE_MANAGEMENT_NEW_1; integrated security=true"
			providerName="System.Data.SqlClient"
			/>-->

		<!--<add key="constr-PROBOOK-NEW" value="Data Source=PROBOOK; Initial Catalog=LEAVE_MANAGEMENT_NEW_1; User Id=sa; Password=Gnusma$1;" />-->


		<add name="constr-PAVILION-NB" connectionString="Server=PAVILION-NB; Database=LEAVE_MANAGEMENT_NEW_14012025; User Id=sa; Password=12sql34;" providerName="System.Data.SqlClient"/>


		<!--<add name="constr-PROBOOK-NEW" connectionString="Server=PROBOOK; Database=LEAVE_MANAGEMENT_NEW_1; User Id=sa; Password=Gnusma$1;" providerName="System.Data.SqlClient"/>-->


		<!--<add key="MYCON" value="Data Source=np:\\SBS-PC35\pipe\MSSQL$SBS2024\sql\query;Initial Catalog=Attendance;User Id=sa;pwd=;" />-->

	</connectionStrings>
</configuration>
